.underline {
	text-decoration: underline;
  }

  .underline span {
	text-decoration: underline;
  }
  
.play-now-button {
    background: linear-gradient(100deg, #FD4106 0%, #FD4106 37%, #FE284F 64%, #FF0099 100%);
    border: none;
	margin-right: 20px;
	margin-top: 1px;
    color: white;
    padding: 3px 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.play-now-button:hover {
    opacity: 0.8;
}

#dash {
	background: linear-gradient(to bottom, rgba(253, 65, 6, 1) 6%, rgba(253, 65, 6, 0) 100%);
}