:root {
	--primary: #FF3D00;
	--backgournd-color: #161616;
	--secondary: #30475e;
	--secondary-light: #3a5a7a;
	--neutral: #eeeeee;
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	box-sizing: border-box;
	border: none;
	list-style: none;
	color: white;
}

button {
	cursor: pointer;
}

body {
	color: var(--neutral);
	padding-top: 40px;
	background-color: var(--backgournd-color);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-width: 381px;

}

nav {
	display: flex;
}

nav a {
	margin-right: 0.75em;
	color: var(--accent);
}

#main {
	margin: 3rem 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}


.container {
	width: 100%;
}


h1 {
	font-size: 2.3rem;
	margin-bottom: 0.5rem;
}

/* p {
	margin-bottom: 2rem;
} */

click-counter button {
	font-weight: 600;
	border: 2px solid var(--neutral);
	border-radius: 5px;
	color: var(--neutral);
	background-color: var(--secondary);
	width: 8.5rem;
	height: 3rem;
	display: grid;
	place-items: center;
	transition: opacity 0.1s, background-color 0.1s;
}

click-counter button:active {
	background-color: var(--secondary-light);
}

@media (min-width: 1000px) {
	click-counter button {
		cursor: pointer;
	}

	click-counter button:hover {
		background-color: var(--secondary-light);
	}

	click-counter button:active {
		opacity: 0.7;
	}
}

.header {
	margin: 45px;
	display: flex;
	justify-content: space-between;
	/* Align logo and authBar */
	width: 100%;
	/* Full width */
	box-sizing: border-box;
}

.authBar {
	position: absolute;
	top: 40px;
	right: 40px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.logo {
	position: absolute;
	top: 40px;
	left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Corrected from justify-items to justify-content */
	gap: 10px;
	flex-direction: row;
}

.logo img {
	margin: 0;
	vertical-align: middle;
	height: 10px;
	/* Updated from 50px to 100px */
	width: 10px;
	/* Updated from 50px to 100px */
}

.logo p {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	/* Reset margin to ensure it doesn't affect alignment */
	/* Optional: Adjust line-height if necessary for alignment */
	line-height: 1;
	/* Adjust based on the actual height of the logo image */
}

.radio-group {
	display: flex;
	gap: 10px;
}

.radio-container {
	position: relative;
	height: 40px;
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.radio-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: #000000;
	color: white;
	text-align: center;
	border-radius: 2px;
	padding: 10px;
	font-size: 14px;
	transition: background-color 0.3s, font-weight 0.3s, color 0.3s;
}

.radio-container input:checked+.radio-label {
	background-color: white;
	font-weight: bold;
	color: rgb(0, 0, 0);
}


@media (max-width: 480px) {
	.logo {
		display: none;
	}
}

#logo-42 {
	height: 30px;
	width: 30px;
}

::before,
::after {
	border-width: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 16, 16, 16;
		--background-end-rgb: 16, 16, 16;
	}
}

body {
	position: relative;
	color: rgb(var(--foreground-rgb));
	height: 100vh;
	/* background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
	font-family: "Inter", sans-serif;
}

@layer utilities {
	.max-container {
		@apply max-w-[1728px] mx-auto;
	}

	.padding-container {
		@apply px-6 lg:px-20 3xl:px-0;
	}

	.text-balance {
		text-wrap: balance;
	}

	.primary-button-gradiant {
		background: linear-gradient(90deg,
				#fd4106 0%,
				#fd4106 37%,
				#fe284f 64%,
				#ff0099 100%);
		color: white;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #474747;
	border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #262626;
}

::-webkit-scrollbar-thumb:active {
	background: #ff3d00;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

.tournament-board {
	cursor: grab;
	user-select: none;
	overflow: auto;
	height: 100%;
}

.grabbing {
	cursor: grabbing;
}

.lead::after {
	content: "";
	width: 20px;
	height: 30px;
	border-style: groove;
	border-color: #ffffff;
	position: absolute;
}

.lead-to::after {
	border-width: 1px 1px 0px 0px;
	transform: translate(-50%, -50%);
	left: 110%;
	top: 100%;
	border-top-right-radius: 8px;
}

.lead-to:last-child:after,
.lead-to:nth-child(even):after {
	border-width: 0px 1px 1px 0px;
	bottom: -100%;
	top: 0%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 8px;
}

.lead-to-left::after {
	border-width: 1px 0px 0px 1px;
	transform: translate(50%, -50%);
	right: 110%;
	top: 100%;
	border-top-left-radius: 8px;
}

.lead-to-left:last-child:after,
.lead-to-left:nth-child(even):after {
	border-width: 0px 0px 1px 1px;
	bottom: -100%;
	top: 0%;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 8px;
}

.lead-to-parent:last-child>li::after {
	border: none;
}

.top-achievement-list>li:nth-child(2) {
	scale: 1.2;
	margin-left: 15px;
	margin-right: 15px;
}

.loading-progress-bar {
	animation: loading-progress-bar 1.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.loading-progress-bar-10 {
	animation: loading-progress-bar 11s linear;
}

.dropdown-animation {
	animation: dropdown-animation 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes dropdown-animation {
	0% {
		transform: translateY(-10px);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes loading-progress-bar {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

.primary-gradient {
	background: linear-gradient(90deg,
			#ff4106 0%,
			#ff4106 37%,
			#fe284f 64%,
			#ff0099 100%);
	cursor: pointer;
}

.primary-gradient:disabled {
	background: #474747;
	cursor: not-allowed;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 26px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	border-radius: 50px;
	background-color: #fff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider::before {
	content: "";
	position: absolute;
	height: 24px;
	width: 24px;
	inset: 0;
	top: 3%;
	background-color: #262626;
	border-radius: 50px;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.switch>input:checked+.slider {
	background-color: #262626;
}

input:checked+.slider::before {
	background-color: #fff;
	right: 0;
	transform: translateX(26px);
}



@media (max-width: 1423px) {
	.grid-container {
		width: 100%;
		flex-grow: 1;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
			"b b"
			"a c";
	}
}

@media (max-width: 720px) {
	.grid-container {
		width: 100%;
		flex-grow: 1;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"b"
			"a"
			"c";
	}
}

.item-a {
	grid-area: a;
}

.item-b {
	grid-area: b;
}

.item-c {
	grid-area: c;
}


/* 2xl screen and above */
@media (min-width: 1536px) {
	#main {
		max-width: 1736px;
	}
}

/* Hide the spin buttons in Webkit browsers */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Hide the spin buttons in Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.chart-container {
	width: 100%;
	height: 100%;
	position: relative;
}

.chart-container canvas {
	display: block;
	width: 100% !important;
	height: 100% !important;
}

.emptyContainer {
	display: flex;
	flex-direction: column;
	flex: 1 1 0%;
	gap: 1.25rem;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.emptyContainer-text {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: capitalize;
	color: #a2a2a2;
}


/* Drop Down  */
.drop-down-menu {
	position: relative;
	width: 1.25rem;
	height: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
}


.drop-down-menu button {
	background: none;
	border: none;
	cursor: pointer;
}

#menu-popover {
	inset: unset;
	width: auto;
	height: auto;
	padding: 0;
	background: transparent;
	border: none;
	position: fixed;
	top: 0px;
	right: 0px;
	pointer-events: none;

}




.menu {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 200px;
	margin-top: 2px;
	background: #242424;
	padding: 0.5rem 1rem;
	flex-direction: column;
	gap: 0.25rem;
	border-radius: 0.25rem;
}

#menu-popover:popover-open+.menu {
	display: flex;
	animation: slidein 0.1s;
	z-index: 1;
	pointer-events: auto;
}
.drop-down-menu-items {
    pointer-events: auto;
}

@keyframes slidein {
	from {
		top: 0%;
		opacity: 0;
		z-index: -1;
	}

	to {
		top: 100%;
		opacity: 1;
	}

}

@keyframes slideout {
	from {
		top: 100%;
		opacity: 1;
	}

	to {
		top: 0%;
		opacity: 0;
		z-index: -1;
	}
}

/* Popup Overlay */
.main-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
	padding-top: 3rem;
	z-index: 9999;
}

#main-popup-title {
	font-family: Inter;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.78px;
	letter-spacing: -0.04em;
	text-align: left;
	padding-bottom: 4px;
	z-index: 9999;
}

#main-popup-subtitle {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.36px;
	text-align: left;
}

/* Popup Content */
.main-popup-content {
	background-color: #373737;
	border-radius: 4px;
	padding: 20px;
	width: 650px;
	height: 150px;
	max-width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* Popup Header */
.main-popup-header {
	display: flex;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.main-popup-header img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	opacity: 1;
	background: #000000;
	border: none;
}

.close-button {
	background: none;
	border: none;
	font-size: 30px;
	cursor: pointer;
	margin-left: auto;
}

.main-popup-body {
	flex-grow: 1;
	margin: 15px 0;
}

.loader-container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}

.progress-bar {
	width: 100%;
	height: 10px;
	background-color: #e0e0e0;
	overflow: hidden;
}

.progress_popup {
	width: 0;
	height: 100%;
	background-color: #FD4106;
	animation: fill 4s infinite;
}

@keyframes fill {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}



.hidden {
	display: none;
}

.popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;
}

#popup-title {
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: #f2f2f2;

}

#popup-subtitle {
	font-size: 14px;
	gap: 10px;
	opacity: 0px;
	color: #6b7280;


}

/* Popup Content */
.popup-content {
	color: #a2a2a2;
	background-color: #000000;
	border-radius: 8px;
	padding: 20px;
	width: 400px;
	max-width: 90%;
	position: relative;
	overflow: hidden;
}

/* Popup Header */
.popup-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #a2a2a244;
	padding-bottom: 10px;
}

.popup-header h3 {
	margin: 0;
}

.popup-header .close-button {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	border: none;
	width: 26px;
	height: 26px;
	font-size: 20px;
	cursor: pointer;
	background: #6c757d;
	border-bottom-left-radius: 8px;

}

/* Popup Body */
.popup-body {
	margin: 15px 0;
}

#input-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Popup Footer */
.popup-footer {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.popup-button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.confirm-button {
	background-color: #FD4106;
	color: white;
}

.cancel-button {
	background-color: #6c757d;
	color: white;
}