body,
html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.bg-image {
	position: fixed;
	/* Or absolute depending on your needs */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

.bg-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-match {
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	min-height: 700px;
}

.main-cards-container {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10rem;
}

@media (max-width: 1200px) {
	#my-card {
		display: none;
	}

	.vs {
		display: none;
	}
}

@media (max-height: 780px) {
	#second-player {
		height: 500px;
	}
}

.player-card {
	display: flex;
	flex-direction: column;
	width: 300px;
	max-height: 900px;
	height: 440px;
	background-color: #373737;
	border-radius: 15px;
	text-align: center;
	overflow: hidden;
	font-family: Arial, sans-serif;
	position: relative;
	/* margin-top: 1rem; */

}


.player-image-container {
	position: relative;
	height: 400px;
	overflow: hidden;
	border-bottom: 5px solid #424242;
}

.player-image {
	width: 100%;
	height: 300px;
	object-fit: cover;
	overflow: hidden;
	background: white;

}

.player-info {
	padding: 16px;
	color: white;
}

.player-name {
	font-family: Inter;
	font-size: 18px;
	font-weight: 500;
	line-height: 21.78px;
	text-align: center;
	padding: 0.7rem;
	
}

.player-rank {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.rank-icon {
	width: 40px;
	height: 50px;
	position: absolute;
	left: 44%;
	bottom: 27%;
}

.player-level {
	font-family: Inter;
	font-size: 14px;
	font-weight: 500;
	line-height: 16.94px;
	text-align: left;
	color: #A2A2A2;
}

.vs {
	font-size: 200px;
	font-weight: 800;
	line-height: 242.05px;
	letter-spacing: 0em;
	text-align: left;	
}

.play_now_button {
	position: absolute;
	top: 20px;
	left: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4px;
}

#countdown-timer {
	width: 80%;
	text-align: center;
}


.scroll-parent {
	position: relative;
	width: 300px;
	height: 700px;
	overflow-x: hidden;
	overflow-y: hidden;
	/* margin-left: 128px; */
}


.scroll-element {
	position: absolute;
	left: 0%;
	top: 0%;
	animation: primary 5s linear infinite;
}

.primary {
	animation: primary 5s linear infinite;
}

.secondary {
	animation: secondary 5s linear infinite;
	top: 1rem;
}

@keyframes primary {
	from {
		transform: translateY(0);
	}

	to {
		transform: translateY(-100%);
	}
}

@keyframes secondary {
	from {
		transform: translateY(100%);
	}

	to {
		transform: translateY(0);
	}
}

.fade-in-image {
	animation: fadeIn 2s ease-in-out infinite;
}

@keyframes fadeIn {
	0% {
		opacity: 0.75;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0.75;
	}
}