@tailwind base;
@tailwind components;
@tailwind utilities;

*{
	box-sizing: content-box;
	padding: 0%;
	margin: 0%;
	margin-right: 
}

a {
	color: inherit;
	text-decoration: inherit;
}

body {
    background-color: black;
}