/* General Styles */
.chat-container {
	height: 85vh;
	width: 100%;
	overflow: hidden;
	border-radius: 12px;
	min-width: 350px;

}

.messenger-list {

	overflow-y: scroll;
	max-height: calc(85vh - 100px);
}

.main-panel {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	width: 100%;
	height: 85vh;

}

.room-panel {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1.25rem;
	height: 100%;
	background: #292929;
	border-radius: 0.75rem;
	padding: 1rem;
}

@media (max-width: 836px) {
	.room-panel {
		width: 100%;
	}
}

.search-bar-container {
	width: 100%;
	/* max-width: 400px; */
}

.search-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
	width: 100%;
	/* max-width: 400px; */
	margin-bottom: 1rem;
}

.search-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 0.375rem;
	/* 6px */
	background-color: #363636;
	padding: 0.6rem 3.5rem;
	height: 40px;
	width: 100%;
	resize: none;
	outline: none;
	color: white;
}

.search-icon {
	position: absolute;
	padding-left: 12px;
	top: 50%;
	transform: translateY(-50%);
}

.filter-button {
	padding-left: 12px;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	gap: 8px;
}

.filter-button.active {
	background-color: #878787;
	border-radius: 0.375rem;
	/* 6px */
}

.filter-button a svg {
	color: white;
}

.filter {
	background: none;
	cursor: pointer;
}

.chat-panel {
	background-color: #292929;
	overflow: hidden;
	position: relative;
	flex: 1 1 0%;
	border-radius: 0.75rem;
	min-width: 381px;
}

.chat-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.messenger-title {
	font-family: Inter;
	font-size: 40px;
	font-weight: 400;
	line-height: 48.41px;
	letter-spacing: -0.04em;
	text-align: center;
	padding-bottom: 1rem;
}

.messenger-subtitle {
	font-family: Inter;
	font-size: 16px;
	font-weight: 300;
	line-height: 19.36px;
	text-align: center;

}

.messenger-item {
	margin-top: 0.5rem;
	width: 100%;
	height: 69px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5rem;
	margin-bottom: 0.625rem;
	overflow: hidden;
	background-color: #292929;
}

.messenger-item.selected {
	background-color: #494949;

}

.messenger-item.highlight {
	background: linear-gradient(90deg, #1bfd061a 0%, #10970400 100%);
}

.messenger-item img {
	border-radius: 50%;
	background: white;
}

.messenger-item .content {
	display: flex;
	align-items: center;
	max-width: 80px;
}

.messenger-item .content .avatar {
	padding-left: 10px;
}

.img_avatar_room {
	min-width: 53px;
	max-width: 53px;
	height: 53px;
	min-height: 53px;

}

.messenger-item .content .name {
	margin-left: 10px;
	color: white;
	font-family: Inter;
	font-size: 18px;
	font-weight: 700;
	line-height: 21.78px;
	letter-spacing: -0.01em;
	text-align: left;

}

.messenger-item .content .last-message {
	color: #878787;
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	width: 150px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.messenger-item.selected .last-message,
.messenger-item.highlight .last-message {
	color: white;
}

.messenger-item .message-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem;
	width: 90px;
}

.messenger-item .message-info .unread-count {
	background-color: #00d400;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.messenger-item .message-info .timestamp {
	background-color: #242424;
	border-radius: 0.25rem;
	padding: 0.25rem;
	color: #ffffff;
	font-size: 13px;
}

/* Messages */

.panel-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.panel-button {
	width: 100%;
	height: 80px;
	background-color: #363636;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0.5rem;
	overflow: hidden;
}

.panel-inner-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.panel-image {
	background-color: white;
	width: 53px;
	height: 53px;
	border-radius: 50%;
}

.panel-link {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 80px;
}

.panel-room-name {
	margin-left: 10px;
	color: white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: bold;
	max-width: 100px;
}

.panel-room-status {
	margin-left: 10px;
	color: #878787;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
}

.panel-three-points-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.panel-three-points {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1.75rem;
}

.panel-dropdown-private {
	z-index: 50;
	position: absolute;
	right: 1.75rem;
	top: 4rem;
	background-color: #161616;
	height: 160px;
	width: 140px;
	padding: 0.5rem;
	border-radius: 0.375rem;
}

.panel-dropdown-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	font-weight: 300;
	font-size: 12px;
	color: #878787;
}

.panel-dropdown-button {
	padding: 0.5rem 1.25rem;
	border-radius: 0.375rem;
	transition: background-color 0.2s;
}

.panel-dropdown-button:hover {
	background-color: #262626;
}

.panel-dropdown-group {
	z-index: 50;
	position: absolute;
	right: 1.75rem;
	top: 4rem;
	background-color: #161616;
	width: 140px;
	padding: 0.5rem;
	border-radius: 0.375rem;
}

.panel-dropdown-group-admin {
	height: 120px;
}

.panel-dropdown-group-non-admin {
	height: 100px;
}

.options-panel {
	position: absolute;
	right: 40px;
	top: 60px;
	background-color: #161616;
	padding: 2px;
	border-radius: 4px;
	z-index: 50;
}

@media (max-width: 836px) {
	.options-panel {
		top: 200px;
	}
	
}
.options-panel.hidden {
	display: none;
}

.panel-option-button {
	display: block;
	padding: 8px 16px;
	color: #878787;
	background-color: #161616;
	border: none;
	border-radius: 4px;
	text-align: left;
	cursor: pointer;
}

.panel-option-button:hover {
	background-color: #333333;
}

/*  */

.messages-content {
	flex: 1 1 auto;
	overflow-y: scroll;
	max-height: calc(85vh - 140px);
	padding: 1rem;
	/* Adjust this value based on your layout */
	/* min-height: 500px;  */
}

.message {
	margin-bottom: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}

.message.sent {
	background-color: #FD4106;
	color: white;
	text-align: left;
	max-width: 50%;
	width: fit-content;
	margin-left: auto;
}

.message.received {
	background-color: #363636;
	color: white;
	text-align: left;
	max-width: 50%;
	width: fit-content;
}

.message-content {
	max-width: 100%;
	display: inline-block;
	word-break: break-word;
	width: fit-content;
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 14.52px;
	letter-spacing: -0.05em;
	text-align: left;


}

.image_file-content {
	max-width: 100%;
	display: inline-block;
	word-break: break-word;
	width: fit-content;
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 14.52px;
	letter-spacing: -0.05em;
	text-align: left;
}

.image_file {
	margin-bottom: 1rem;
	/* padding: 0.5rem; */
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
}

.image_file.sent {
	color: white;
	text-align: left;
	max-width: 40%;
	width: fit-content;
	margin-left: auto;
}

.image_file.received {
	color: white;
	text-align: left;
	max-width: 40%;
	width: fit-content;
}

.message-time.sent {
	font-size: 0.6rem;
	color: #EAE7E7;
	margin-left: auto;
	align-items: end;

}

.message-time {
	color: #878787;
	font-size: 0.6rem;
	margin-left: auto;
	align-items: end;
}

.message-content {
	font-family: Inter;
	font-size: 12px;
	font-weight: 500;
	line-height: 14.52px;
	letter-spacing: -0.05em;
	text-align: left;
}

.send-message-container {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: #303030;
	height: 60px;
}

.send-message-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.invite-icon-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2px;
}

.invite-text {
	font-size: 10px;
	color: #878787;
}

.send-image-container {
	margin: 0 6px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.message-textarea {
	flex-grow: 1;
	background-color: #464646;
	color: #F8F8F8;
	padding: 0.5rem;
	border-radius: 10px;
	border: none;
	resize: none;
	outline: none;
	max-height: 40px;
	justify-self: center;
	align-self: center;
}

.send-button {
	padding: 10px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.no-friend-message {
	color: #878787;
	text-align: center;
}

/* Media Queries  --------------------*/


/* Po/* Popup Overlay */
.popup-sendImage-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

#popup-sendImage-title {
	font-family: bold;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}

/* Popup Content */
.popup-sendImage-content {
	color: #6b7280;
	background-color: black;
	border-radius: 8px;
	padding: 20px;
	width: 400px;
	max-width: 90%;
	position: relative;
}

/* Popup Header */
.popup-sendImage-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.popup-sendImage-header .close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: white;
}

/* Popup Body */
.popup-sendImage-body {
	margin: 15px 0;
}

/* Popup Footer */
.popup-sendImage-footer {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

.popup-sendImage-button {
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.confirm-button {
	background-color: #FD4106;
	color: white;
}

.cancel-button {
	background-color: #6c757d;
	color: white;
}

/* Hide by default */
.hidden {
	display: none;
}

/* Loading indicator styles */
.loading-indicator {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	/* Adjust height as needed */
	font-size: 1.2rem;
	color: #666;
	/* Text color */
}

.loading-indicator::after {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	border: 0.2em solid #ccc;
	/* Spinner border color */
	border-top-color: #333;
	/* Spinner top color */
	animation: spin 0.6s infinite linear;
	margin-left: 0.5em;
	/* Space between text and spinner */
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}



.loading-text {
	font-size: 24px;
	font-weight: bold;
	color: #FD4106;
}

.dots::after {
	content: '';
	display: inline-block;
	width: 1em;
	text-align: left;
	animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {

	0%,
	20% {
		content: '';
	}

	40% {
		content: '.';
	}

	60% {
		content: '..';
	}

	80%,
	100% {
		content: '...';
	}
}