* {
  color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Container */
.container {
  width: 100%;
  height: 87dvh;
}

/* Ranking box */
.ranking-box {
  background-color: #292929;
  border-radius: 15px;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 1rem 0.5rem;
}

/* Header */
.ranking-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}

.ranking-header h6 {
  font-weight: bold;
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  color: white;
}

/* Ranking table */
.ranking-table {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

/* Hide scrollbar */
.ranking-table::-webkit-scrollbar {
  display: none;
}

.ranking-table {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Table styles */
table {
  width: 100%;
}

thead tr {
  background-color: #444444;
  font-weight: 600;
  color: #a2a2a2;
}

th,
td {
  text-align: start;
  padding: 0.75rem 0.75rem;
}

th:first-child {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

th:last-child {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

/* Column widths */
th:nth-child(2) {
  width: 50%;
}

.ranking-player-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.ranking-player-container img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.ranking-player-container p {
  font-size: 0.875rem;
  font-weight: 500;
}

.ranking-coins-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}

.ranking-coins-container img {
  width: 0.75rem;
  height: 0.75rem;
}
