django
djangorestframework
djangorestframework-simplejwt
pyyaml
requests
python-dotenv
django_redis
django-cors-headers
daphne
channels
channels_redis
psycopg2-binary

pillow
pytest-django
pytest-asyncio
shortuuid

apscheduler
django-apscheduler

django_otp

drf-spectacular