.main-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	height: 100%;
}

.section-container {
	display: flex;
	gap: 20px;
}

.select-game-section {

	flex: 1;
	/* Take more space */
	height: 450px;
	background-color: #333;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

.select-game-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.game-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.game-title {
	font-size: 48px;
	font-weight: bold;
	margin-bottom: 10px;
}

.game-subtitle {
	font-size: 16px;
	margin-bottom: 20px;
	color: #e1e1e1;
}

.button-group {
	display: flex;
	gap: 30px;
	margin-bottom: 20px;
	padding-left: 150px;
}

.radio-option {
	background-color: #262626;
	color: white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
}

.radio-option input[type="radio"] {
	display: none;
}

.radio-option span {
	display: inline-block;
}

.radio-option input[type="radio"]:checked+span {
	background-color: #FE284F;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}

.play-now-button {
	display: inline-block;
	background-color: #ff5500;
	padding: 10px 40px;
	font-size: 25px;
	color: white;
	text-decoration: none;
	border-radius: 5px;
}

.online-players-cg {
	min-width: 381px;
	border-radius: 8px;
	overflow: hidden;
}

@media screen and (max-width: 1024px) {
	.section-container {
		flex-direction: column;
	}

	.online-players-cg {
		min-height: 400px;
	}
}