* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    display: flex;
    padding-top: 80px;
    /* To avoid content overlap */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px;
}

.section-container {
    display: flex;
    gap: 20px;
}

.select-game-section {

    flex: 1;
    /* Take more space */
    height: 450px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.select-game-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.game-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.game-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.game-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #e1e1e1;
}

.button-group {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    padding-left: 150px;
}

.radio-option {
    background-color: #262626;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
}

.radio-option input[type="radio"] {
    display: none;
}

.radio-option span {
    display: inline-block;
}

.radio-option input[type="radio"]:checked+span {
    background-color: #FE284F;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.play-now-button {
    display: inline-block;
    background-color: #ff5500;
    padding: 10px 40px;
    font-size: 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.online-players-cg {
    min-width: 381px;
    border-radius: 8px;
    overflow: hidden;
}



.filter-btn {
    position: absolute;
    top: 100px;
    /* Moves the button to the top of the container */
    right: 30px;
    /* Aligns it to the right side */
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.player-list {
    margin-top: 30px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.player img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.player-info {
    margin-left: 10px;
    color: white;
    flex-grow: 1;
}

.player-name {
    font-weight: bold;
}

.player-level {
    font-size: 12px;
    color: #bbb;
}

.invite-button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #161616; */
    padding: 15px 25px;
    /* border-bottom: 1px solid #333; */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.nav-links a:hover {
    color: #FE284F;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-name {
    color: white;
    font-size: 16px;
}

.mini-logo {
    border-radius: 50%;
}

.arrow {
    height: 100% !important;
}

.hr-live-tournaments {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.hr-live-tournaments>li {
    width: 100%;
}

.hr-tournament-info-1 {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.hr-tournament-info-1>.text {}

.hr-tournament-info-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hr-tournament-info-2 > .text{
    /* min-height: 100%; */
    margin: 0 20px;
}

.live-tournaments > .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* align-items: baseline; */
}


@media screen and (max-width: 1024px){
    .section-container {
        flex-direction: column;
    }
    .online-players-cg{
        min-height: 400px;
    }
}