
.play_now_button {
	background: linear-gradient(90deg, #Ff4106 0%, #Ff4106 37%, #FE284F 64%, #FF0099 100%);
	border: none;
	margin-right: 20px;
	color: white;
	padding: 3px 30px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 5px;
}

.play_now_button:hover {
	opacity: 0.8;
}


.nav svg {
	fill: #a2a2a2;
  }
  
.nav:hover svg {
	fill: #FD4106;
  }